

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}


img {
  display: block;
  width: 100%;
  height: 100%;
}


textarea {
  resize: none;
}


/* Для Chrome и Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Для IE и Edge */
input[type="number"]::-ms-clear {
  display: none;
}
