:root {
  --color-light-50: rgb(255, 255, 255);
  --color-100: rgba(214, 228, 255, 0.5);
  --color-200: rgba(173, 200, 255, 0.5);
  --color-300: rgba(132, 169, 255, 0.5);
  --color-400: rgba(102, 144, 255, 0.5);
  --color-500: rgba(51, 102, 255, 0.5);
  /* Основной цвет с прозрачностью */
  --color-600: rgba(37, 78, 218, 0.5);
  --color-700: rgba(25, 57, 179, 0.5);
  --color-800: rgba(16, 38, 147, 0.5);
  --color-900: rgba(9, 26, 122, 0.5);
  /* Самый темный оттенок с прозрачностью */

  --main-color: black;
  --secondary-color: red;


  --timing-animation-min: 0.3s;

  --scale-decrease-min: 0.99;
  --scale-decrease-middle: 0.95;

  --shadow-v1: 0 0 10px 20px rgb(255, 255, 255);


  --letter-spacing: .1em;



   /* --radius-xs: 2px; */
   --radius-sm: 5px;
   --radius-md: 10px;
   --radius-lg: 15px;
   --radius-xl: 20px;
   --radius-full: 100%;
 
   /* Радиусы для конкретных компонентов */
   --radius-button: var(--radius-md);
   --radius-card: var(--radius-lg);
   --radius-input: var(--radius-sm);
   --radius-avatar: var(--radius-full);
}