:root {
  --color-light-50: rgb(255, 255, 255);
  --color-100: rgba(214, 228, 255, 0.5);
  --color-200: rgba(173, 200, 255, 0.5);

  --main-color: black;
  --secondary-color: red;


  --timing-animation-min: 0.3s;

  --scale-decrease-min: 0.99;
  --scale-decrease-middle: 0.95;

  --shadow-v1: 0 0 10px 20px rgb(255, 255, 255);

  --letter-spacing: .08em;


  /* z-index */
  --z-header: 100;

   /* --radius-xs: 2px; */
   --radius-sm: 5px;
   --radius-md: 10px;
   --radius-lg: 15px;
   --radius-xl: 20px;
   --radius-full: 100%;
 
   /* Радиусы для конкретных компонентов */
   --radius-button: var(--radius-md);
   --radius-card: var(--radius-lg);
   --radius-input: var(--radius-sm);
   --radius-avatar: var(--radius-full);
}