@use './_variables.css';
@use './_reset';

body {
  min-height: 100vh;
  // микро scroll убирает на touch устройствах
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}



.x-center {
  margin-left: auto;
  margin-right: auto;
}

.width {
  max-width: 1920px;
  padding-right: 20px;
  padding-left: 20px;
  @media (max-width:550px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}


/* Для WebKit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Ширина вертикального скроллбара */
  height: 8px; /* Высота горизонтального скроллбара */
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* Цвет скроллбара */
  border-radius: 10px; /* Закругление углов */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона скроллбара */
}